* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 120px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"), url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 1310px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 719px) {
  .container {
    max-width: 375px;
  }
}
.main-link {
  padding: 14px 39px;
  background-color: #fcb72b;
  text-decoration: none;
  color: white;
  font-family: "Space Mono";
  text-transform: capitalize;
  margin-left: auto;
  display: inline-block;
}
.main-link:hover {
  border: 3px solid #FCB72B;
  background-color: transparent;
  color: #FCB72B;
  padding: 11px 36px;
}

.header {
  position: relative;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
}

.header__container {
  max-width: 1106px;
  display: flex;
  align-items: center;
  padding-bottom: 33px;
  padding-top: 34px;
}

.header__logo-img {
  display: block;
}

.header__burger {
  display: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
}
.header__burger::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fcb72b;
  display: block;
  transition: 0.3s ease all;
}
.header__burger::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fcb72b;
  display: block;
  transition: 0.3s ease all;
}
.header__burger-inner {
  width: 100%;
  height: 4px;
  background-color: #fcb72b;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.header__burger--opened .header__burger-inner {
  display: none;
}

.header__burger--opened {
  position: relative;
}

.header__burger--opened::after,
.header__burger--opened::before {
  position: absolute;
  left: 50%;
  top: 50%;
}

.header__burger--opened::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.header__burger--opened::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__main-link {
  margin-left: auto;
}

.header__nav {
  margin-left: 58px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__item {
  margin-right: 32px;
}
.header__item:last-child {
  margin-right: 0;
}

.header__item-link {
  text-decoration: none;
  color: #939caa;
  font-family: "Space Mono";
  text-transform: capitalize;
}
.header__item-link:hover {
  color: #fcb72b;
}

@media only screen and (max-width: 719px) {
  .header__nav {
    display: none;
    background: #333a44;
    height: calc(100vh - 96px);
    position: absolute;
    width: 256px;
    padding: 64px 0 580px 32px;
    left: 0;
    top: 100%;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    z-index: 2;
  }

  .header__list {
    display: block;
    margin-bottom: 339px;
  }

  .header__item {
    margin-bottom: 24px;
    color: white;
  }

  .header__item-link {
    font-size: 18px;
    color: white;
  }

  .header__main-link {
    margin: 0 auto;
  }

  .header__nav--opened {
    display: flex;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__burger {
    display: block;
  }
}
.intro {
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.intro__container {
  padding-top: 153px;
  padding-bottom: 152px;
  position: relative;
}
.intro__container::after {
  background-image: url("../img/pointer-right.svg");
  display: block;
  content: "";
  width: 450px;
  height: 150px;
  position: absolute;
  left: 710px;
  top: 350px;
}
.intro__container::before {
  background-image: url("../img/yellow-line.svg");
  display: block;
  content: "";
  width: 202px;
  height: 15px;
  position: absolute;
  left: 15px;
  top: 350px;
}

.intro__div {
  margin-left: 165px;
}

.intro__title {
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  color: white;
  width: 500px;
  letter-spacing: -2.5px;
}

.intro__description {
  width: 405px;
  margin: 40px 0 40px 80px;
  color: white;
}

.intro__link {
  margin-left: 80px;
}

@media only screen and (max-width: 1310px) {
  .intro {
    background-image: url("../img/intro-tablet.jpg");
    background-size: cover;
  }

  .intro__container {
    padding-top: 137px;
    padding-bottom: 217px;
  }
  .intro__container::after {
    background-image: url("../img/pointer-left-long.svg");
    width: 738px;
    height: 150px;
    left: -412px;
    top: 423px;
  }
  .intro__container::before {
    display: none;
  }

  .intro__div {
    text-align: center;
    margin: 0 auto;
    width: 573px;
  }

  .intro__title {
    width: 573px;
  }

  .intro__description {
    width: 573px;
    margin: 24px 0 32px;
  }

  .intro__link {
    margin-left: 0;
  }
}
@media only screen and (max-width: 719px) {
  .intro {
    background-image: url("../img/intro-mobile.jpg");
    background-size: cover;
  }

  .intro__container {
    padding-top: 115px;
    padding-bottom: 179px;
  }
  .intro__container::after {
    left: -610px;
    top: 460px;
  }

  .intro__div {
    text-align: center;
    width: 311px;
  }

  .intro__title {
    font-size: 40px;
    line-height: 40px;
    width: 311px;
  }

  .intro__description {
    width: 311px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .intro {
    background-image: "../img/intro-bg2x.jpg";
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1310px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1310px), only screen and (min-resolution: 192dpi) and (max-width: 1310px), only screen and (min-resolution: 2dppx) and (max-width: 1310px) {
  .intro {
    background-image: url("../img/intro-tablet@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 719px), only screen and (min-device-pixel-ratio: 2) and (max-width: 719px), only screen and (min-resolution: 192dpi) and (max-width: 719px), only screen and (min-resolution: 2dppx) and (max-width: 719px) {
  .intro {
    background-image: url("../img/intro-mobile@2x.jpg");
  }
}
.instruction {
  overflow: hidden;
}

.instruction__container {
  max-width: 1106px;
  padding-top: 160px;
  padding-bottom: 200px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.instruction__item {
  margin-right: 30px;
}
.instruction__item:last-child {
  margin-right: 0;
}

.instruction__item-title {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  margin-bottom: 27px;
}

.instruction__item-description {
  width: 350px;
  color: #939caa;
}

.instruction__hand::after {
  background: url("../img/hand.svg");
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  width: 34px;
  height: 48px;
  left: calc(50% - 17px);
  top: calc(50% - 24px);
  background-repeat: no-repeat;
}

.instruction__scooter::after {
  background: url("../img/scooter.svg");
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  width: 42px;
  height: 32px;
  left: calc(50% - 21px);
  top: calc(50% - 16px);
  background-repeat: no-repeat;
}

.instruction__rider::after {
  background: url("../img/rider.svg");
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  background-repeat: no-repeat;
}

.instruction__span {
  width: 96px;
  height: 96px;
  background-color: #fcb72b;
  display: block;
  border-radius: 50%;
  margin-bottom: 40px;
  position: relative;
}
.instruction__span::before {
  display: block;
  content: "";
  width: 300px;
  height: 5px;
  border: 5px solid #E5ECF4;
  background-color: #E5ECF4;
  position: absolute;
  right: 90%;
  top: 45px;
  z-index: -1;
}

@media only screen and (max-width: 1310px) {
  .instruction__container {
    max-width: 768px;
    padding-top: 122px;
  }

  .instruction__list {
    flex-direction: column;
    width: 573px;
    margin: 0 auto;
  }

  .instruction__item {
    display: flex;
    margin: 0 0 40px 0;
  }
  .instruction__item:last-child {
    margin-bottom: 0;
  }

  .instruction__item-description {
    width: 398px;
  }

  .instruction__span {
    margin-right: 79px;
  }
  .instruction__span::before {
    display: block;
    content: "";
    width: 5px;
    height: 160px;
    border: 5px solid #E5ECF4;
    background-color: #E5ECF4;
    position: absolute;
    right: 43px;
    top: -100%;
    z-index: -1;
  }
}
@media only screen and (max-width: 719px) {
  .instruction__container {
    max-width: 375px;
  }

  .instruction__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }

  .instruction__list {
    width: 311px;
    text-align: center;
  }

  .instruction__item-description {
    width: 311px;
  }

  .instruction__span {
    margin: 0 0 24px 0;
    width: 56px;
    height: 56px;
  }
  .instruction__span::before {
    display: none;
  }

  .instruction__hand::after {
    width: 20px;
    height: 28px;
    left: 18px;
    top: 15px;
    background-size: cover;
  }

  .instruction__scooter::after {
    width: 24px;
    height: 18px;
    left: 16px;
    top: 18px;
    background-size: cover;
  }

  .instruction__rider::after {
    width: 23px;
    height: 23px;
    left: 16px;
    top: 16px;
    background-size: cover;
  }
}
.benefits {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.benefits__container {
  max-width: 1106px;
  padding-top: 66px;
  padding-bottom: 395px;
}

.benefits__list {
  list-style: none;
}

.benefits__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.benefits__item:last-child {
  margin-bottom: 0;
}
.benefits__item:nth-child(odd) {
  flex-direction: row-reverse;
}
.benefits__item--girl {
  position: relative;
}
.benefits__item--girl::after {
  background-image: url("../img/pointer-left.svg");
  display: block;
  content: "";
  width: 740px;
  height: 150px;
  position: absolute;
  top: 295px;
  right: -185px;
}
.benefits__item--girl::before {
  display: block;
  content: "";
  width: 445px;
  height: 445px;
  background-color: #e5ecf4;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  right: -500px;
  top: 0;
}
.benefits__item--city {
  position: relative;
}
.benefits__item--city::after {
  background-image: url("../img/pointer-right.svg");
  display: block;
  content: "";
  width: 740px;
  height: 150px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: -255px;
}
.benefits__item--city::before {
  display: block;
  content: "";
  width: 445px;
  height: 445px;
  background-color: #e5ecf4;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: -500px;
  top: 0;
}
.benefits__item--cash {
  position: relative;
}
.benefits__item--cash::after {
  background-image: url("../img/pointer-left.svg");
  display: block;
  content: "";
  width: 740px;
  height: 150px;
  position: absolute;
  background-repeat: no-repeat;
  top: 70px;
  right: -50%;
}
.benefits__item--cash::before {
  display: block;
  content: "";
  width: 445px;
  height: 445px;
  background-color: #e5ecf4;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  right: -500px;
  top: 0;
}

.benefits__item-title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2px;
}

.benefits__item-description {
  color: #939caa;
  margin: 24px 0 40px;
}

.benefits__item-div {
  width: 445px;
}

.benefits__item-img {
  border-radius: 50%;
}

@media only screen and (max-width: 1310px) {
  .benefits__container {
    max-width: 768px;
    padding-bottom: 104px;
  }

  .benefits__item {
    display: block;
    text-align: center;
    width: 573px;
    margin: 0 auto 128px;
  }

  .benefits__item-div {
    width: 573px;
    margin: 56px auto 0;
  }
}
@media only screen and (max-width: 719px) {
  .benefits__container {
    max-width: 375px;
  }

  .benefits__item-div {
    width: 311px;
  }

  .benefits__item-title {
    font-size: 32px;
    line-height: 32px;
  }

  .benefits__item {
    width: 311px;
  }
  .benefits__item--girl::after {
    top: 170px;
    right: -450px;
  }
  .benefits__item--girl::before {
    display: none;
  }
  .benefits__item--city::before {
    display: none;
  }
  .benefits__item--cash::before {
    display: none;
  }
  .benefits__item--cash::after {
    top: 0;
    right: -550px;
  }

  .benefits__item-img {
    width: 311px;
    height: 311px;
  }
}
.cta {
  background-image: url("../img/cta-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #495567;
}

.cta__container {
  padding-bottom: 102px;
  padding-top: 102px;
  display: flex;
  align-items: center;
}

.cta__paragraph {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2px;
  color: white;
  width: 415px;
  margin-left: 165px;
}

.cta__link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 165px 0 auto;
}

.cta__item {
  margin-right: 18px;
}
.cta__item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1310px) {
  .cta {
    background-image: url("../img/cta-tablet.svg");
  }

  .cta__container {
    padding-bottom: 62px;
    padding-top: 50px;
    display: block;
    text-align: center;
  }

  .cta__paragraph {
    width: 457px;
    margin: 0 auto;
  }

  .cta__item-img {
    display: block;
    width: 113px;
    height: 40px;
  }

  .cta__link-list {
    margin: 40px 0 0;
    display: inline-flex;
  }
}
@media only screen and (max-width: 719px) {
  .cta {
    background-image: url("../img/cta-mobile.svg");
  }

  .cta__container {
    padding-bottom: 68px;
    padding-top: 68px;
  }

  .cta__paragraph {
    font-size: 32px;
    width: 311px;
  }
}
.footer {
  background-color: #333a44;
}

.footer__container {
  display: flex;
  padding-top: 35px;
  padding-bottom: 32px;
  align-items: center;
}

.footer__socials-item-link {
  display: block;
}

.footer__logo-img {
  display: block;
  margin-left: 165px;
}

.footer__nav {
  margin-left: 58px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__item {
  margin-right: 32px;
}
.footer__item:last-child {
  margin-right: 0;
}

.footer__item-link {
  text-decoration: none;
  color: #939caa;
  font-family: "Space Mono";
  text-transform: capitalize;
}
.footer__item-link:hover {
  color: #fcb72b;
}

.footer__socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 165px 0 auto;
}

.footer__socials-item {
  margin-right: 24px;
}
.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-item-link {
  fill: #fcb72b;
}
.footer__socials-item-link:hover {
  fill: #e5ecf4;
}

@media only screen and (max-width: 1310px) {
  .footer__logo-img {
    margin-left: 39px;
  }

  .footer__socials-list {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 719px) {
  .footer__container {
    display: block;
    align-items: center;
    text-align: center;
  }

  .footer__nav {
    margin: 41px auto 85px;
  }

  .footer__list {
    display: block;
  }

  .footer__item {
    margin: 0 0 16px 0;
  }

  .footer__logo-img {
    margin: 0 auto;
  }

  .footer__socials-list {
    display: inline-flex;
    margin-right: 0;
  }
}
.intro-about {
  background-image: url("../img/about-intro-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-about__container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.intro-about__title {
  font-family: "Space Mono";
  font-size: 56px;
  color: white;
  margin-left: 165px;
}

@media only screen and (max-width: 1310px) {
  .intro-about {
    background-image: url("../img/intro-about-tablet.jpg");
  }
}
@media only screen and (max-width: 719px) {
  .intro-about {
    background-image: url("../img/intro-about-mobile.jpg");
  }

  .intro-about__container {
    text-align: center;
  }

  .intro-about__title {
    font-size: 40px;
    margin: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .intro-about {
    background-image: "../img/intro-about2x.jpg";
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1310px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1310px), only screen and (min-resolution: 192dpi) and (max-width: 1310px), only screen and (min-resolution: 2dppx) and (max-width: 1310px) {
  .intro-about {
    background-image: url("../img/intro-about-tablet@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 719px), only screen and (min-device-pixel-ratio: 2) and (max-width: 719px), only screen and (min-resolution: 192dpi) and (max-width: 719px), only screen and (min-resolution: 2dppx) and (max-width: 719px) {
  .intro-about {
    background-image: url("../img/intro-about-mobile@2x.jpg");
  }
}
.advantages {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.advantages__container {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1106px;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  display: flex;
  margin-bottom: 160px;
  align-items: center;
  justify-content: space-between;
}
.advantages__item:nth-child(odd) {
  flex-direction: row-reverse;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item--mobility {
  position: relative;
}
.advantages__item--mobility::after {
  background-image: url("../img/pointer-left.svg");
  display: block;
  content: "";
  width: 740px;
  height: 150px;
  position: absolute;
  top: 295px;
  right: -185px;
}
.advantages__item--mobility::before {
  display: block;
  content: "";
  width: 445px;
  height: 445px;
  background-color: #e5ecf4;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  right: -500px;
  top: 0;
}
.advantages__item--urban {
  position: relative;
}
.advantages__item--urban::after {
  background-image: url("../img/pointer-right.svg");
  display: block;
  content: "";
  width: 740px;
  height: 150px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: -255px;
}
.advantages__item--urban::before {
  display: block;
  content: "";
  width: 445px;
  height: 445px;
  background-color: #e5ecf4;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  left: -500px;
  top: 0;
}

.advantages__div {
  width: 445px;
}

.advantages__title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2px;
}

.advantages__descripton {
  margin-top: 24px;
  color: #939caa;
}

.advantages__item-img {
  border-radius: 50%;
}

@media only screen and (max-width: 1310px) {
  .advantages__container {
    max-width: 768px;
  }

  .advantages__item {
    display: block;
    text-align: center;
    width: 573px;
    margin: 0 auto 128px;
  }

  .advantages__div {
    width: 573px;
    margin: 56px auto 0;
  }

  .advantages__title {
    width: 457px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 719px) {
  .advantages__container {
    max-width: 375px;
  }

  .advantages__div {
    width: 311px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 32px;
    width: 311px;
  }

  .advantages__item {
    width: 311px;
  }
  .advantages__item--mobility::after {
    top: 170px;
    right: -450px;
  }
  .advantages__item--mobility::before {
    display: none;
  }
  .advantages__item--urban::before {
    display: none;
  }

  .advantages__item-img {
    width: 311px;
    height: 311px;
  }
}
.values__container {
  max-width: 1106px;
  padding-bottom: 120px;
}

.values__title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 103px;
}

.values__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.values__item {
  position: relative;
  width: 350px;
  text-align: center;
}

.values__item-title {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  color: #495567;
  margin-top: 87px;
}

.values__item-description {
  color: #939caa;
  margin-top: 24px;
}

.values__item-img {
  border-radius: 50%;
  position: relative;
}

.values__span {
  background-color: #fcb72b;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: calc(240px - 48px);
  left: calc(50% - 60px);
  z-index: 1;
  font-size: 24px;
  font-family: "Space Mono";
  color: #495567;
  padding: 45px;
}

@media only screen and (max-width: 1310px) {
  .values__container {
    max-width: 768px;
    padding-top: 10px;
  }

  .values__list {
    flex-direction: column;
  }

  .values__item {
    width: 457px;
    margin: 0 auto 120px;
  }
  .values__item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 719px) {
  .values__container {
    max-width: 375px;
  }

  .values__item {
    width: 311px;
  }
}
.faqs__container {
  max-width: 1106px;
  padding-top: 66px;
  padding-bottom: 95px;
}

.faqs__title {
  text-align: center;
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2px;
  margin-bottom: 64px;
}

.faqs__div {
  display: flex;
}

.faqs__div-title {
  font-family: "Space Mono";
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  letter-spacing: -2px;
  font-size: 40px;
}

.faqs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  display: block;
  margin-left: auto;
}

.faqs__item {
  width: 730px;
  background-color: #f2f5f9;
  margin-bottom: 16px;
  padding: 32px 40px;
  position: relative;
}
.faqs__item:hover {
  background-color: #fff4df;
}
.faqs__item::before {
  background-image: url("../img/pointer.svg");
  display: block;
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  top: 42px;
  right: 42px;
  transform: rotate(180deg);
}

.faqs__item--opened {
  width: 730px;
  background-color: #f2f5f9;
  margin-bottom: 16px;
  padding: 32px 40px;
  position: relative;
}
.faqs__item--opened::before {
  transform: rotate(0deg);
}

.faqs__item-title {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  color: #495567;
}

.faqs__item-info--opened {
  display: block;
  margin-top: 24px;
  width: 650px;
  color: #495567;
}

.faqs__item-info {
  display: none;
}

@media only screen and (max-width: 1310px) {
  .faqs__container {
    max-width: 768px;
  }

  .faqs__div {
    flex-direction: column;
    margin-bottom: 64px;
  }

  .faqs__div-title {
    margin-bottom: 32px;
    text-align: center;
  }

  .faqs__item {
    width: 689px;
    margin-bottom: 24px;
  }
  .faqs__item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 719px) {
  .faqs__container {
    max-width: 375px;
  }

  .faqs__div-title {
    font-size: 24px;
  }

  .faqs__title {
    font-size: 32px;
  }

  .faqs__item-title {
    font-size: 18px;
  }

  .faqs__item {
    width: 311px;
  }

  .faqs__item-info--opened {
    width: 251px;
  }
}/*# sourceMappingURL=main.css.map */