* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 120px;
}
@media only screen and (max-width: $mobile) {
    body {
        margin-top: 96px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

