.header {
    position: relative;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
}
.header__container {
    max-width: 1106px;
    display: flex;
    align-items: center;
    padding-bottom: 33px;
    padding-top: 34px;
}

.header__logo-img {
    display: block;
}

.header__burger {
    display: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
    &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: rgba(252, 183, 43, 1);
        display: block;
        transition: 0.3s ease all;
    }
    &::before {
        content: "";
        width: 100%;
        height: 4px;
        background-color: rgba(252, 183, 43, 1);
        display: block;
        transition: 0.3s ease all;
    }
    &-inner {
        width: 100%;
        height: 4px;
        background-color: rgba(252, 183, 43, 1);
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
.header__burger--opened .header__burger-inner {
    display: none;
}
.header__burger--opened {
    position: relative;
    
}
.header__burger--opened::after,
.header__burger--opened::before {
    position: absolute;
    left: 50%;
    top: 50%;
}
.header__burger--opened::after {
    transform: translate(-50%, -50%) rotate(45deg);
}
.header__burger--opened::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}



.header__main-link {
    margin-left: auto;
}
.header__nav {
    margin-left: 58px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center
}
.header__list {
    
    @include reset-list;
}
.header__item {
    margin-right: 32px;
    &:last-child {
        margin-right: 0;
    }
}
.header__item-link {
    @include reset-nav-link;
    text-transform: capitalize;
    &:hover {
        color: rgba(252, 183, 43, 1);
    }
}


@media only screen and (max-width: $mobile) {
    .header__nav {
        display: none;
        background: rgba(51, 58, 68, 1);
        height: calc(100vh - 96px);
        position: absolute;
        width: 256px;
        padding: 64px 0 580px 32px;
        left: 0;
        top: 100%;
        
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        z-index: 2;
    }
    .header__list {
        display: block ;
        margin-bottom: 339px;
    }
    .header__item {
        margin-bottom: 24px;
        color: white;
    }
    .header__item-link {
        font-size: 18px;
        color: white;
    }
    .header__main-link {
        margin: 0 auto;
    }

    .header__nav--opened {
        display: flex;
    }

    .header__logo {
        margin: 0 auto;
    }
  
    .header__burger {
        display: block;
    }
    
}