.instruction {
    overflow: hidden;
}
.instruction__container {
    max-width: 1106px;
    padding-top: 160px;
    padding-bottom: 200px;
}

.instruction__list {
    @include reset-list;
    position: relative;
    &::before {
        display: block;
        content: ('');
        border: 1px solid #E5ECF4;
        height: 16px;
        width: 973px;
        position: absolute;
        background-color: #E5ECF4;
        top: 40px;
        left: -165px;
    }

}
.instruction__item {
    
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
    &::before {
        display: block;
        content: ('');
        width: 96px;
        height: 96px;
        background-color: rgba(252, 183, 43, 1);
        border-radius: 50%;
        margin-bottom: 40px
    }
}
.instruction__item-title {
    @include small-title;
    margin-bottom: 27px;
}
.instruction__item-description {
    width: 350px;
    color: rgba(147, 156, 170, 1);
}

.instruction__hand { 
    position: relative;
    
    &::after {
        background-image: url("../../img/hand.svg");
        display: block;
        width: 34px;
        height: 47px;
        content: ('');
        position: absolute;
        top: 24px;
        left: 32px;
        z-index: 2;
    }
}

.instruction__scooter {
    position: relative;
    &::after {
        background-image: url("../../img/scooter.svg");
        display: block;
        content: ('');
        width: 42px;
        height: 31px;
        position: absolute;
        top: 32px;
        left: 27px;
    }
}

.instruction__rider {   
    position: relative;
    &::after {
        background-image: url("../../img/rider.svg");
        display: block;
        content: ('');
        width: 40px;
        height: 40px;
        position: absolute;
        top: 28px;
        left: 28px;
    }
}




@media only screen and (max-width: $tablet) {
    .instruction__container {
        max-width: 768px;
        padding-top: 122px;
    }
    
    .instruction__list {
        flex-direction: column;
        width: 573px;
        margin: 0 auto;
    }
    .instruction__item {
        display: flex;
        margin: 0 0 40px 0;
    &:last-child{
        margin-bottom: 0;
    }
    }
    .instruction__item-description {
        width: 398px;
    }
    
    .instruction__span {
        margin-right: 79px;
        &::before {
            display: block;
            content: ('');
            width: 5px;
            height: 160px;
            border: 5px solid #E5ECF4;
            background-color: #E5ECF4;
            position: absolute;
            right: 43px;
            top: -100%;
            z-index: -1;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .instruction__container {
        max-width: 375px;
    }

    .instruction__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }
    .instruction__list {
        width: 311px;
        text-align: center;
    }
    .instruction__item-description {
        width: 311px;
    }
    .instruction__span {
        margin: 0 0 24px 0;
        width: 56px;
        height: 56px;
        &::before {
            display: none; 
        }
    }
    .instruction__hand {
        &::after {              
            width: 20px;
            height: 28px;   
            left: 18px;
            top: 15px;
            background-size: cover;
        }
    }
    .instruction__scooter {
        &::after {              
            width: 24px;
            height: 18px;   
            left: 16px;
            top: 18px;
            background-size: cover;
        }
    
    }
    
    .instruction__rider {   
        &::after {
            width: 23px;
            height: 23px;   
            left: 16px;
            top: 16px;
            background-size: cover;
        }
    }
}